<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 항목</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/pointReasonsAdmin.css') }}">
</head>

<button class="nav-toggle hamburger" aria-label="메뉴 열기">&#9776;</button>

<header>
    <h2 class="main">상벌점 항목</h2>
    <button class="editButton" onclick="location.href='/admin/pointReasonsEdit'">수정</button>
</header>

<nav class="sidebar">
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">인공지능소프트웨어과</p>
    <p class="name">{{ session["name"] }}</p>

    <a class="mypage_nav" href="/admin/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/admin/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/admin/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="studentManagement_nav" href="/admin/studentManagement">학생 관리</a>
    <hr class="four">
    <a class="teacherManagement_nav" href="/admin/teacherManagement">선생님 관리</a>
    <hr class="five">
    <a class="community_nav" href="/admin/community">게시판</a>

    <button class="myInfoEdit_nav">내 정보 수정</button>
    <hr class="six">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <div class="rewardList">
        <div class="header">
            <h1>상점 항목</h1>
        </div>
        <div class="rewardList_table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="num">번호</th>
                        <th>사유</th>
                        <th class="reward">상점</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bonusPointReason in bonusPointReasonDTO %}
                    <tr>
                        <td><span class="star">★</span></td>
                        <td>{{ bonusPointReason.no - 100 }}</td>
                        <td>{{ bonusPointReason.reason }}</td>
                        <td>{{ bonusPointReason.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="penaltyList">
        <div class="header">
            <h1>벌점 항목</h1>
        </div>
    <div class="penaltyList_table">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th class="num">번호</th>
                    <th>사유</th>
                    <th class="penalty">벌점</th>
                </tr>
            </thead>
            <tbody>
                {% for penaltyPointReason in penaltyPointReasonDTO %}
                    <tr>
                        <td><span class="star">★</span></td>
                        <td>{{ penaltyPointReason.no - 200 }}</td>
                        <td>{{ penaltyPointReason.reason }}</td>
                        <td>{{ penaltyPointReason.value }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="footer"></div>
    <script src="{{ url_for('static', filename='js/auth/myInfoEditOpen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/pointReasonsAdmin.js') }}"></script>
</body>

</html>