<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>선생님 승인 팝업</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/teacherSignupApprovalPopup.css') }}">
</head>
<body>
  <div class="container">
    <div class="popup-box">
      <h2>선생님 승인</h2>
      <div class="note">
        <small>*요청을 승인하게 된다면 해당 계정이 선생님 계정으로 등록됩니다.</small>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="list">이름</td>
            <th scope="list">아이디</td>
            <th scope="list">확인코드</td>
            <th scpe="list">승인여부</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>이기남</td>
            <td>엉쪄구</td>
            <td>966666</td>
            <td>
              <button class="approve">승인</button>
              <button class="reject">거부</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
