@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'S-CoreDream-3Light';
    font-size: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px
}

.score {
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    margin-top: 0%;
    padding: 10px
}

.why {
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    margin-top: -4%;
    padding: 10px;
}

.cal {
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    margin-top: -4%;
    padding: 10px;
}

.who {
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    margin-top: -4%;
    padding: 10px;
}


.fin {
    width: 20%;
    height: 8%;
    font-family: 'S-CoreDream-3Light';
    background: #ffd700;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1%;
}

.fin button:hover {
    background: #ffbb00;
}