@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}

header {
    width: 80%;
    height: 10%;
    background-color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    box-shadow: 0px 3px 3px gray;
    z-index: 1;
}

.main {
    position: absolute;
    top: 0%;
    left: 3%;
    color: #55595D;
    font-size: 35px;
}

nav {
    background-color: #9AA6B2;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
}

nav > a {
    font-size: 20px;
}

nav > a:not(.community_nav):hover{
    color: #d8d8d8;
}

nav > .profiles{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav > .number {
    position: absolute;
    left: 50%;
    top: 6%;
    color: white;
}

nav > .name {
    position: absolute;
    left: 50%;
    top: 9%;
    font-size: larger;
    color: white;
}

nav > .mypage_nav {
    color: white;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav > .first{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav > .givePoint_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .two{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav > .pointReasons_nav {
    color: white;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .three{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav > .studentManagement_nav {
    color: white;
    position: absolute;
    top: 51.4%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .four{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 55%;
    left: 5%;
}

nav > .teacherManagement_nav {
    color: white;
    position: absolute;
    top: 58.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .five{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 62%;
    left: 5%;
}

nav > .community_nav {
    color: #575e65;
    position: absolute;
    top: 65.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .myInfoEdit_nav{
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .six{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
}

.logout {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #9AA6B2;
    font-size: larger;
    text-align: left;
    font-size: 20px;
}

.title_input{
    width: 45%;
    height: 7%;
    position: absolute;
    top: 15%;
    left: 25%;
    background-color: #E6EEF6;
    display: flex;
    align-items: center;
    color: #55595D;
    border: none;
    font-size: 25px;
    font-weight: bold;
}

.title_input:focus{
    color: #000000;
    border: none;
}

.writer_box {
    width: 20%;
    height: 7%;
    position: absolute;
    top: 15%;
    left: 75%;
    background-color: #E6EEF6;
    display: flex;
    align-items: center;
    color: #55595D;
}

.date {
    width: 30%;
    height: 25%;
    margin: 13% 25%;
}

.content_input {
    width: 70%;
    height: 55%;
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #E6EEF6;
    color: #55595D;
    border: none;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;

    padding: 10px;
    resize: none; /* 크기 조절 막기 */
    overflow-y: auto;

    /* 텍스트를 상단에 붙이기 위해 기본적으로 작동 */
    vertical-align: top;
}

.content_input:focus {
    color: #000000; /* 포커스되었을 때 텍스트 색 변경 */
}

.write_btn{
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 5px;
    background-color: #8392a0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 19% 0% 0% 85%;
}