@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 1280px;
    height: 720px;
}

.popupMain {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 2%;
    /* 박스 간 간격을 %로 설정 */
    height: 90%;
}

.boxHead {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.penaltyPointReason {
    margin-top: 3%;
    width: 80%;
    /* 왼쪽 박스 너비 */
    height: 95%;
    /* 왼쪽 박스 높이 */
    background-color: #ffffff;
    /* 배경색 */
    border: 2px solid #BCCCDC;
    /* 테두리 */
    border-radius: 5px;
    /* 모서리 둥글게 */
    padding: 2%;
    /* 내부 여백 */
    display: flex;
    flex-direction: column;
    /* 내부 요소를 세로로 정렬 */
    justify-content: flex-start;
    /* 내부 요소를 상단에 정렬 */
    align-items: stretch;
    /* 내부 요소를 가로로 채움 */
    overflow-y: hidden;
    /* 세로 스크롤바 추가 */
}

.penaltyPointReasonTable {
    width: 100%;
    /* 테이블 너비 */
    height: 100%;
    /* 테이블 높이 */
    margin: auto;
    /* 가운데 정렬 */
    overflow-y: auto;
    /* Y축 스크롤 활성화 */
    overflow-x: hidden;
    /* X축 스크롤 비활성화 */
    border-collapse: collapse;
    /* 테두리 간격 제거 */
    box-sizing: border-box;
    /* 크기 계산 정확히 */
}

.penaltyPointReasonTable table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    border-top: #000000 solid 3px;
}

.penaltyPointReasonTable th {
    background: #677179;
    padding: 1.5%;
    text-align: center;
    /* 가운데 정렬 */
    border-bottom: #000000 solid 3px;
    font-size: 20px;
    color: #ffffff;
    /* 헤더 텍스트 색상 */
}

/* .penaltyPointReasonTable th input[type="checkbox"] {
    transform: scale(2);
} */

.penaltyPointReasonTable td {
    padding: 3%;
    text-align: center;
    /* 가운데 정렬 */
    border-bottom: #55595D solid 1px;
    font-size: 20px;
    color: #3f3f3f;
}

/* .penaltyPointReasonTable td input[type="checkbox"] {
    transform: scale(2);
} */

.penaltyPointReasonTable td:nth-child(1),
/* 번호 열 */
.penaltyPointReasonTable th:nth-child(1) {
    min-width: 80px;
    /* 번호 열 최소 너비 */
}

.penaltyPointReasonTable td:nth-child(3),
/* 부여 점수 열 */
.penaltyPointReasonTable th:nth-child(3) {
    min-width: 100px;
    /* 부여 점수 열 최소 너비 */
}

/* 선택된 행 스타일 */
.selected-row {
    background-color: #BCCCDC;
    /* 선택된 행 배경색 */
    color: #ffffff;
    /* 선택된 행 텍스트 색상 */
    font-weight: bold;
    /* 선택된 행 텍스트 굵게 */
    transition: background-color 0.2s ease;
    /* 부드러운 전환 효과 */
}

.penaltyPointReasonTable tbody tr:not(.selected-row):hover {
    background: #e7e7e7;
    transition: background-color 0.2s ease;
    /* 부드러운 전환 효과 */
}

.penaltyPointReasonTable tbody tr.select-row:hover {
    background-color: #9AA6B2;
    color: #000;
    /* 선택된 행에 마우스 오버 시 텍스트 색상 */
    transition: background-color 0.2s ease, color 0.2s ease;
    /* 부드러운 전환 효과 */
}

.studentInfoBox {
    margin-top: 3%;
    width: 35%;
    /* 오른쪽 박스 너비 */
    height: 95%;
    /* 오른쪽 박스 높이 */
    position: relative;
    padding: 2%;
    /* 내부 여백 */
    border-radius: 5px;
    overflow-y: auto;
    border: 2px solid #BCCCDC;
    /* 테두리 */
    flex-direction: column;
}

.studentInfo {
    display: flex;
    flex-direction: column;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    /* 라벨과 값 양쪽 정렬 */
    align-items: center;
    padding: 15px 0;
    /* 위아래 간격 */
    border-bottom: 1px solid #ddd;
    /* 각 행 구분선 */
}

.infoLabel {
    font-weight: bold;
    font-size: 16px;
    /* 라벨 폰트 크기 */
    color: #333;
    /* 라벨 텍스트 색상 */
    flex: 1;
    /* 라벨 너비 */
    text-align: left;
    /* 라벨 텍스트 왼쪽 정렬 */
    white-space: nowrap;
    /* 텍스트 줄바꿈 방지 */
}

.infoValue.studentNum {
    margin-right: 10px;
    /* 오른쪽 여백 */
}

.infoValue:not(.opinion):not(.reason) {
    font-size: 16px;
    /* 값 폰트 크기 */
    color: #555;
    /* 값 텍스트 색상 */
    text-align: right;
    /* 값 오른쪽 정렬 */
    flex: 2;
    /* 값 너비 */
}

.infoValue.reason {
    font-size: 16px;
    /* 값 폰트 크기 */
    color: #555;
    /* 값 텍스트 색상 */
    text-align: right;
    /* 값 왼쪽 정렬 */
    flex: 4;
    /* 값 너비 */
    line-height: 1.5;
    /* 줄 간격 설정 */
    overflow: hidden;
    /* 오버플로우 숨김 */
    white-space: nowrap;
    /* 줄바꿈 방지 */
    text-overflow: ellipsis;
    /* 텍스트 길면 ... 으로 대체 */
}

.infoValue.giveTeacherName {
    margin-right: 10px;
    /* 오른쪽 여백 */
}

/* 드롭다운 메뉴 스타일 */
.teacherDropdown {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
}

.teacherDropdown.hidden {
    display: none;
    /* 기본적으로 숨김 */
}


/* opinion: 입력 필드 */
.opinion {
    width: 80%;
    /* 입력 필드 너비 */
    height: 60px;
    /* 입력 필드 높이 */
    padding: 2% 2%;
    border: 1px solid #ccc;
    /* 테두리 */
    border-radius: 5px;
    /* 모서리 둥글게 */
    font-size: 14px;
    /* 입력 필드 폰트 크기 */
    color: #555;
    /* 텍스트 색상 */
    background-color: #ffffff;
    /* 배경색 */
    box-sizing: border-box;
    /* 크기 계산 정확히 */
    overflow-y: auto;
    resize: none;
    /* 사용자가 크기를 조정하지 못하도록 설정 */
    text-align: left;
    /* 텍스트 좌측 정렬 */
    white-space: pre-wrap;
    /* 줄바꿈 유지 및 공백 처리 */
    word-wrap: break-word;
    /* 긴 단어 줄바꿈 */
    line-height: 1.5;
    /* 줄 간격 설정 */
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}


/* 모달 기본 스타일 */
.studentSearchModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.studentSearchModal.visible {
    visibility: visible;
    opacity: 1;
}

.teacherSearchModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.teacherSearchModal.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    display: none;
}

.modalContent {
    background-color: #fff;
    border-radius: 8px;
    width: 30%;
    margin-left: 45%;
    margin-top: 5%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* 검색창과 테이블 간격 */
}

.searchBar input {
    padding: 3% 7%;
    /* 안쪽 여백 */
    border: 2px solid #9AA6B2;
    /* 테두리 색상 */
    border-radius: 25px;
    /* 둥근 모서리 */
    outline: none;
    /* 클릭 시 기본 테두리 제거 */
    width: 130%;
    /* 검색창 너비 */
    transition: all 0.3s ease-in-out;
    /* 부드러운 효과 */
    font-family: "KakaoSmallSans-Bold", sans-serif;
    /* 폰트 설정 */
    font-size: 16px;
    text-align: center;
    /* 가운데 정렬 */
    right: 26.3%;
}

.searchBar input:focus {
    border-color: #9AA6B2;
    /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 8px #9AA6B2
        /* 포커스 효과 */
}

.searchButton {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 3% 3%;
    margin-left: 3%;
    cursor: pointer;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.searchStudentIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    /* 기본 불투명도 설정 */
    transition: opacity 0.5s ease;
    /* 부드러운 전환 효과 */
}

.searchStudentIcon:hover {
    opacity: 1;
    /* 마우스를 올렸을 때 완전히 보이도록 설정 */
}

.searchTeacherIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    /* 기본 불투명도 설정 */
    transition: opacity 0.5s ease;
    /* 부드러운 전환 효과 */
}

.searchTeacherIcon:hover {
    opacity: 1;
    /* 마우스를 올렸을 때 완전히 보이도록 설정 */
}

.studentTable {
    width: 100%;
    border-collapse: collapse;
}

.studentTable th,
.studentTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.studentTable tr:not(.selected-row):hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.teacherTable {
    width: 100%;
    border-collapse: collapse;
}

.teacherTable th,
.teacherTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.teacherTable tr:not(.selected-row):hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.submitButton {
    width: 40%;
    background-color: #9AA6B2;
    color: white;
    padding: 3%;
    /* 버튼 안쪽 여백 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    /* 버튼 폰트 크기 */
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    transition: background-color 0.3s ease;
    /* 부드러운 전환 효과 */
    position: absolute;
    bottom: 5%;
    /* 버튼 위치 조정 */
    right: 6%;

}

.submitButton:hover {
    background-color: #7d8791;
    /* hover 시 색상 변경 */
}

.cancelButton {
    width: 40%;
    background-color: #b29a9a;
    color: white;
    padding: 3%;
    /* 버튼 안쪽 여백 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    /* 버튼 폰트 크기 */
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    transition: background-color 0.3s ease;
    /* 부드러운 전환 효과 */
    position: absolute;
    bottom: 5%;
    /* 버튼 위치 조정 */
    right: 54%;

}

.cancelButton:hover {
    background-color: #917d7d;
    /* hover 시 색상 변경 */
}

@media (max-width: 768px) {

    body {
        width: 289px;
        height: 650px;
    }

    .popupMain {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 2%;
        height: 100%;
        flex-direction: column;
    }

    .penaltyPointReason {
        margin-top: 3%;
        margin-left: 2%;
        width: 93%;
        height: 89%;
        background-color: #ffffff;
        border: 2px solid #BCCCDC;
        border-radius: 5px;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        overflow-y: hidden;
        position: absolute;
    }

    .penaltyPointReasonTable th {
        font-size: 11px;
    }

    .penaltyPointReasonTable td:nth-child(1),
    .bonusPointReasonTable th:nth-child(1) {
        min-width: 45px;
    }

    .penaltyPointReasonTable td:nth-child(3),
    .penaltyPointReasonTable th:nth-child(3) {
        min-width: 60px;
    }

    .studentInfoBox {
        margin-top: 0%;
        margin-left: 2%;
        width: 92%;
        height: 106%;
        position: absolute;
        top: 98%;
        border-radius: 5px;
        overflow-y: auto;
        border: 2px solid #BCCCDC;
    }

    .penaltyPointReasonTable td {
        font-size: 14px;
    }

    .modalContent {
        background-color: #fff;
        border-radius: 8px;
        width: 84%;
        margin-left: 4%;
        margin-top: 5%;
        max-height: 80%;
        overflow-y: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

}