@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'MinSans-Regular';
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-form {
    background-color: white;
    padding: 3rem; /* 내부 여백 증가 */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 750px; /* 기존보다 1.7배 확장 */
    max-width: 95%; /* 화면이 작아질 때 대비 */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot-password-form form {
    width: 100%; /* 폼이 컨테이너 안에서 꽉 차도록 설정 */
    display: flex;
    flex-direction: column;
}

.forgot-password-form h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.forgot-password-form p {
    font-size: 18px;
    margin-bottom: 6%;
    color: #777;
}

label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 6%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: 'MinSans-Regular';
}

button[type="submit"] {
    width: 55%;
    background-color: #b1b0b0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto 5%; /* 위, 가운데 정렬, 아래 마진 */
    font-family: 'MinSans-Regular';
    display: block; /* 가운데 정렬을 위해 추가 */
}


button[type="submit"]:hover {
    background-color: #999999;
}

/* 반응형 조정 */
@media (max-width: 1024px) {
    .forgot-password-form {
        width: 80%;
        padding: 2.5rem;
    }
}

@media (max-width: 768px) {
    .forgot-password-form {
        width: 85%;
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    .forgot-password-form {
        width: 90%;
        padding: 1.5rem;
    }
}