@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* 너비를 500px로 확장 */
    height: 600px;
    text-align: center;
    position: relative; /* 원 위에 표시되도록 설정 */
    z-index: 1; /* 로그인 컨테이너를 전면으로 설정 */
}

h1 {
    color: #000000;
    font-size: 24px;
    font-family: "Jua", sans-serif;
}

p {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    font-family: "Jua", sans-serif;
}

form {
    text-align: left;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"],
input[type="text"]{
    width: 100%;
    padding: 9px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Jua", sans-serif;
    z-index: 1;
}

input[type="password"] {
    width: 100%;
    padding: 9px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Jua", sans-serif;
    z-index: 1;
}



.password-container {
    position: relative;
    width: 100%;
}

.e-mail-container {
    position: relative;
    width: 100%;
}
.email-container {
    position: relative; /* 내부 요소를 상대적으로 배치할 수 있도록 설정 */
    display: flex; /* 내부 요소를 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

small {
    display: block;
    margin-bottom: 5%;
    color: #999;
    font-size: 14px;
    font-family: "Jua", sans-serif;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15%;
}

.remember-me label {
    position: absolute;
    top: 54%;
    left: 10%;
    margin-left: 5px;
    font-size: 16px;
    color: #666;
    font-family: "Jua", sans-serif;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #FCD363;
    border: none;
    position: relative;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    bottom: 1%;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s;
    font-family: "Jua", sans-serif;
}

.login-btn:hover {
    background-color: #9CA3AF;
}

.forgot-password {
    display: block;
    text-align: right;
    color: #9CA3AF;
    font-size: 14px;
    margin-bottom: 29px;
    font-family: "Jua", sans-serif;
}

.signup-prompt {
    margin-top: 25px;
    font-size: 16px;
}

.signup-prompt a {
    color: #9CA3AF;
    text-decoration: none;
    font-family: "Jua", sans-serif;
}

.email{
    font-family: "Jua", sans-serif;
}

.password{
    font-family: "Jua", sans-serif;
}

.e-mail{
    font-family: "Jua", sans-serif;
}