/*기초 폰트 설정 (2025-02-23 22:12)*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*바디 설정 (2025-02-23 22:12)*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden; /* 가로 스크롤 제거 */
    overflow-y: hidden; /* 세로 스크롤 활성화 */
}

/* 네비게이션 바 (2025-02-23 22:12)*/
.navbar {
    display: flex;
    align-items: center;
    background-color: #3d3d3d;
    padding: 10px 20px;
    height: 60px;
    min-width: 700px;
}

.nav_logo img {
    width: 110px;
    height: auto;
}

.nav_menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav_menu span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav_menu a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-left: 30px;
}

.nav_menu a:hover {
    color: #ffcc00;
}

.nav_user {
    margin-left: auto;
}

.nav_user img {
    width: 50px;
    height: auto;
}

/* 메인 박스 설정 (2025-02-23 22:12) */
.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.container h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#adminForm {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
}

.admin-add {
    margin-top: 3%;
}

/*비밀번호 보기/숨기기 css (2025-02-23 22:12)*/
.password-input {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 10px auto;
}

.password-input input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: 'S-CoreDream-3Light', sans-serif;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffaa00;
}

#resultMessage {
    margin-top: 10px;
    font-size: 16px;
}
