@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-3Light', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden; /* 가로 스크롤 제거 */
    overflow-y: hidden; /* 세로 스크롤 활성화 */
}

/* 네비게이션 바 */
.navbar {
    display: flex;
    align-items: center;
    background-color: #3d3d3d;
    padding: 10px 20px;
    height: 60px;
    min-width: 700px;
}

.nav_logo img {
    width: 110px;
    height: auto;
}

.nav_menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav_menu span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav_menu a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-left: 30px;
}

.nav_menu a:hover {
    color: #ffcc00;
}

.nav_user {
    margin-left: auto;
}

.nav_user img {
    width: 50px;
    height: auto;
}

/* 메인 콘텐츠 */
.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.container h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.admin-id {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 10%;
}

.admin-password {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 10%;
}

.admin-password-check {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 10%;
}

.admin-add {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 10%;
}
input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: 'S-CoreDream-3Light', sans-serif;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffaa00;
}

#resultMessage {
    margin-top: 10px;
    font-size: 16px;
}
