@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'S-CoreDream-3Light', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* 네비게이션 바 */
.navbar {
    display: flex;
    align-items: center;
    background-color: #3d3d3d;
    padding: 10px 20px;
    height: 60px;
    min-width: 700px;
}

.nav_logo img {
    width: 110px;
    height: auto;
}

.nav_menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav_menu span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav_menu a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-left: 30px;
}

.nav_menu a:hover {
    color: #ffcc00;
}

.nav_user {
    margin-left: auto;
}

.nav_user img {
    width: 50px;
    height: auto;
}

/* 관리 페이지 메인 박스 css 설정 */

.box_container {
    display: flex;  /* 박스들을 가로로 배치 */
    flex-wrap: wrap;  /* 공간이 부족하면 줄 바꿈 */
    justify-content: flex-start;  /* 왼쪽 정렬 */
    gap: 10px;  /* 박스 간의 간격 */
    margin-top: 20px;  /* 네비게이션 바와 간격 */
    padding: 0 20px;  /* 양옆에 여백 */
}

.box {
    display: flex;
    gap: 5%;
    color: white;  /* 글자 색 */
    padding: 20px;  /* 여백 */
    width: 18%;  /* 각 박스의 너비 (5개 박스가 한 줄에 배치되도록 설정) */
    border-radius: 10px;  /* 둥근 모서리 */
    box-sizing: border-box;  /* padding과 border 포함한 너비 설정 */
}

.user_box {
    background-color: #3a3a3a;  /* 박스 배경색 */
    margin-top: 3%;  /* 네비게이션 바와 간격을 주기 위한 margin */
    margin-left: 3%;
    border-radius: 10px;  /* 둥근 모서리 */
    width: 25%;  /* 박스 너비 */
    height: 350px;
}

.calendar_box {
    background-color: #3a3a3a;  /* 박스 배경색 */
    margin-top: 3%;  /* 네비게이션 바와 간격을 주기 위한 margin */
    margin-left: 3%;
    border-radius: 10px;  /* 둥근 모서리 */
    width: 25%;  /* 박스 너비 */
    height: 350px;
}

.notification_box {
    background-color: #3a3a3a;  /* 박스 배경색 */
    margin-top: 3%;  /* 네비게이션 바와 간격을 주기 위한 margin */
    margin-left: 3%;
    border-radius: 10px;  /* 둥근 모서리 */
    width: 37%;  /* 박스 너비 */
    height: 350px;
}

/* 이미지 크기 설정 */
.box img {
    width: 90px; 
    height: 90px;
}

/* 제목 스타일 */
.user_box h1 {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.calendar_box h1 {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.notification_box h1 {
    color: white;
    text-decoration: none;
    font-size: 32px;
}


