@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: "Jua", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.id {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px; /* 최대 너비 설정 */
}
.input-group {
    position: relative; /* 버튼을 입력창 내부에 고정 */
    width: 100%;
    max-width: 350px; /* 최대 너비 설정 */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 80px; /* 버튼 공간 확보 */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Jua", sans-serif;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    margin-left: 215px; /* 입력 박스 내부에서 오른쪽 끝 정렬 */
    margin-top: 5px;
    padding: 6px 9px;
    background-color: white;
    color: black;
    font-family: "Jua", sans-serif;
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap; /* 버튼 줄 바꿈 방지 */
    z-index: 1000000;
}





span {
    font-family: "Jua", sans-serif;
    font-size: 14px;
    color: #777;
    margin-right: 50%;
    margin-top: 0; /* 입력창 아래에 배치 */
}



.signup-form {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.signup-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signup-form p {
    margin-bottom: 20px;
    color: #777;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

input[type="text"]{
    padding: 10px;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Jua", sans-serif;
}


input[type="email"]{
    padding: 10px;
    margin-bottom: 6%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Jua", sans-serif;

}
input[type="password"]{
    padding: 10px;
    margin-bottom: 6%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Jua", sans-serif;
}
input[type="date"] {
    padding: 10px;
    margin-bottom: 6%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Jua", sans-serif;
}

.password{
    position: relative;
    width: 100%;
}


.join {
    background-color: #FCD363;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Jua", sans-serif;
}


.signup-form a {
    color: #9CA3AF;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}