<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="{{ url_for('static', filename='css/student/communityInfoStudent.css') }}" rel="stylesheet">
</head>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/student/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="community_nav" href="/student/community">게시판</a>

    <hr class="four">

    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <div class="title_box">
        <h2 class="title">제목 : </h2>
        <h2 class="title_">{{ notice.title }}</h2>
    </div>

    <div class="writer_box">
        <h2 class="writer">작성자 : </h2>
        <h2 class="writer_">{{ notice.author }}</h2>
    </div>

    <p class="date">작성일시 : {{ notice.created_date }}</p>

    <div class="text_box">
        <p>{{ notice.content }}</p>
    </div>

    <div class="container">
        <div class="comment_box">
            <input type="text" placeholder="신청 댓글을 입력해주세요. 비방댓글이나 모욕댓글은 즉시 처벌이 있을 수 있습니다.">
            <button class="sumit">전송</button>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>

            <div class="comments">
                <img src="/img/logo.png">
                <div class="ID">
                    <p class="name"><strong>10312 이시은</strong></p>
                    <p class="date_">2025.23.23</p>
                </div>
                <p class="comment">신청합니당</p>
            </div>
        </div>
    </div>
</body>
</html>