<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="{{ url_for('static', filename='css/student/communityStudent.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/student/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="community_nav" href="/student/community">게시판</a>

    <hr class="four">

    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<div class="container">
    <table>
        <tr>
            <th scope="list">번호</th>
            <th scope="list">제목</th>
            <th scope="list">작성자</th>
            <th scope="list">작성일</th>
        </tr>
        {% for notice in notices[::-1] %}
        <tr>
            <td>{{ notices|length - loop.index0 }}</td>
            <td>
                <a href="{{ url_for('student.communityDetail', noticeId=notice.id) }}">{{ notice.title }}</a>
            </td>
            <td>{{ notice.author }}</td>
            <td>{{ notice.created_date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>