<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/student/indexStudent.css') }}" rel="stylesheet">
    <title>mainpage</title>
</head>

<header>
    <h2 class="main">상벌점 홈페이지</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/student/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="community_nav" href="/student/community">게시판</a>

    <a class="myInfoEdit_nav" href="">내 정보 수정</a>
    <hr class="four">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>

    <div class="all_score">
        <div class="box"></div>
        <h1 class="up_all">총 상벌점 : {{ totalBonus + totalPenalty }}점</h1>
    </div>


    <div>
        <button class="all_log" onClick="location.href='/student/pointLog'">전체 내역 보기</button>
    </div>


    <div class="upscore_box">
        <div class="header">
            <h1>총상점 : {{ totalBonus }}점</h1>
        </div>
        <table class="up_log">
            <tr>
                <th scope="list">날짜</td>
                <th scope="list">사유</td>
                <th scope="list">해당 상벌점</td>
                <th scope="list">부여자</td>
                    </td>
            </tr>
            {% for log in bonusLogs %}
            <tr>
                <td>{{ log.addDate }}</td>
                <td>{{ log.reason }}</td>
                <td>{{ log.point }}</td>
                <td>{{ log.giveTeacherName }}</td>
            </tr>
            {% endfor %}
            </tr>
        </table>
        <button class="more" onClick="location.href='/student/pointLog'">더보기</button>
    </div>

    <div class="downscore_box">
        <div class="header">
            <h1>총벌점 : {{ totalPenalty }}점</h1>
        </div>
        <table class="down_log">
            <tr>
                <th scope="list">날짜</td>
                <th scope="list">사유</td>
                <th scope="list">해당 상벌점</td>
                <th scope="list">부여자</td>
                    </td>
            </tr>
            {% for log in penaltyLogs %}
            <tr>
                <td>{{ log.addDate }}</td>
                <td>{{ log.reason }}</td>
                <td>{{ log.point }}</td>
                <td>{{ log.giveTeacherName }}</td>
            </tr>
            {% endfor %}
            </tr>
        </table>
        <button class="more" onClick="location.href='/student/pointLog'">더보기</button>
    </div>



    <div class="community_box">
        <div class="header">
            <h1>게시판</h1>
        </div>
        <table class="community">
            <tr>
                <th scope="list">제목</td>
                <th scope="list">글쓴이</td>
                <th scope="list">날짜</td>
                    </td>
            </tr>
            {% for notice in notices %}
            <tr>
                <td><a href="/student/community/{{ notice.id }}">{{ notice.title }}</a></td>
                <td>{{ notice.author }}</td>
                <td>{{ notice.created_date }}</td>
            </tr>
            {% endfor %}
            </tr>
        </table>
        <button class="more" onClick="location.href='/student/community'">더보기</button>
    </div>
    <script src="{{ url_for('static', filename='js/student/indexStudent.js') }}"></script>
</body>

</html>