<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/student/indexStudent.css') }}" rel="stylesheet">
    <title>mainpage</title>
</head>

<header>
    <h2 class="main">상벌점 홈페이지</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/student/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="community_nav" href="/student/community">게시판</a>

    <a class="myInfoEdit_nav"href="">내 정보 수정</a>
    <hr class="four">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>

    <div class="up_score">
        <div class="box"></div>
        <h1 class="up_all">총 상점 : {{ usersDTO.addPoint }}점</h1>
    </div>

    <div class="down_score">
        <div class="box"></div>
        <h1 class="up_all">총 벌점 : {{ usersDTO.delPoint }}점</h1>
    </div>

    <div class="log_box">
        <div class="header">
            <h1>상벌점 내역</h1>
        </div>
        <div class="log_table">
            <table>
                <tr>
                    <th scope="list">날짜</th>
                    <th scope="list">사유</th>
                    <th scope="list">부여 상벌점</th>
                    <th scope="list">총 상벌점</th>
                </tr>
                    {% for i in range( pointLogList | length) %}
                <tr>
                    <td class="date-cell">{{ pointLogList[i].addDate }}</td>
              		<td class="reason" title="{{ pointLogList[i].reason}}">{{ pointLogList[i].reason }}</td>
                	<td class="givePoint">{{ pointLogList[i].point }}</td>
                	<td class="allPoint">{{ pointLogList[i].point }}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
        <button class="more" onClick="location.href='/student/pointLog'">더보기</button>
    </div>

    <div class="community_box">
        <div class="header">
            <h1>게시판</h1>
        </div>
        <div class="community_table">
            <table>
                <tr>
                    <th scope="list">번호</th>
                    <th scope="list">제목</th>
                    <th scope="list">작성자</th>
                    <th scope="list">작성일</th>
                </tr>
                {% for notice in notices[::-1][:5] %}
                <tr>
                    <td class="noticeNum">{{ notices|length - loop.index0 }}</td>
                    <td class="noticeTitle" title="{{ notice.title }}">
                        <a href="{{ url_for('student.communityDetail', noticeId=notice.id) }}">{{ notice.title }}</a>
                    </td>
                    <td class="noticeAuthor">{{ notice.author }}</td>
                    <td class="noticeDate">{{ notice.created_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <button class="more" onClick="location.href='/student/community'">더보기</button>
    </div>
</body>

<script src="{{ url_for('static', filename='js/student/indexStudent.js') }}"></script>

</html>