<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 수정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student/myInfoEditStudent.css') }}">
</head>
<body>
    <main class="popupMain">
        <div class="studentInfoBox">
            <h2 class="boxHead">내 정보 수정</h2>
            <form method="POST" action="">
                <div class="studentInfo">
                    <div class="infoRow">
                        <span class="infoLabel">학번:</span>
                        <span class="infoValue studentNum">{{ studentNum }}</span>
                        <img class="searchStudentIcon" src="{{ url_for('static', filename='img/searchIcon.png') }}" alt="학생 검색" />
                    </div>
                    <div class="infoRow">
                        <span class="infoLabel">이름:</span>
                        <span class="infoValue studentName">{{ studentName }}</span>
                    </div>
                    <div class="infoRow">
                        <span class="infoLabel">아이디:</span>
                        <span class="infoValue studentId">{{ studentId }}</span>
                    </div>
                    <input type="hidden" name="studentId" class="studentIdInput" value="{{ studentId }}" />
                    <div class="infoRow">
                        <span class="infoLabel">현재 비밀번호:</span>
                        <div class="passwordBox">
                            <input class="passwordInput" type="password" name="password" required />
                            <img class="togglePassword" src="../static/img/eyeOffIcon.png" alt="Show Password" />
                        </div>
                    </div>
                    <div class="infoRow">
                        <span class="infoLabel">비밀번호 변경:</span>
                        <div class="passwordBox">
                            <input class="passwordInput" type="password" name="password" required />
                            <img class="togglePassword" src="../static/img/eyeOffIcon.png" alt="Show Password" />
                        </div>
                    </div>
                    <div class="infoRow">
                        <span class="infoLabel">비밀번호 확인:</span>
                        <div class="passwordBox">
                            <input class="passwordInput" type="password" name="passwordCheck" required />
                            <img class="togglePassword" src="../static/img/eyeOffIcon.png" alt="Show Password" />
                        </div>
                    </div>
                </div>
                <button class="submitButton" type="submit">제출</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/student/myInfoEditStudent.js') }}"></script>
</body>
</html>