<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 내역</title>
    <link href="{{ url_for('static', filename='css/student/pointLogStudent.css') }}" rel="stylesheet">
</head>
<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='/img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLogStudent">상벌점 내역</a>
    <hr class="two">
    <a class="community_nav" href="/student/community">게시판</a>

    <hr class="three">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <div class="log">
        <table>
            <tr>
                <th scope="list">날짜</td>
                <th scope="list">사유</td>
                <th scope="list">해당 상벌점</td>
                <th scope="list">교사명</td>
            </tr>
            {% for i in range( pointLogList | length) %}
            <tr>
                <td>{{ pointLogList[i].addDate }}</td>
                <td>{{ pointLogList[i].reason }}</td>
                <td>{{ pointLogList[i].point }}</td>
                <td>{{ pointLogTeacher[i].name }}</td>
            </tr>
            {% endfor %}
            


        </table>
    </div>
</body>

</html>