<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 내역</title>
    <link href="{{ url_for('static', filename='css/student/pointLogStudent.css') }}" rel="stylesheet">
</head>
<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointList_nav" href="/student/pointListStudent">상벌점 항목</a>
    <hr class="three">
    <a class="community_nav" href="/student/community">게시판</a>

    <hr class="four">

    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <div class="pointLog">
        <div class="buttonsContainer">
            <div class="searchBar">
                <input type="text" class="searchInput" placeholder="찾고싶은 날짜를 입력해주세요">
            </div>
            <button class="searchButton">검색</button>
            <img src="../static/img/filterIcon.png" alt="필터 아이콘" class="filterIcon"></img>
            <div class="filterPopup hidden">
                <h4>상벌점 구분</h4>
                <label><input type="checkbox" name="point" value="상점"> 상점</label>
                <label><input type="checkbox" name="point" value="벌점"> 벌점</label>
                <button class="resetFilters">초기화</button>
            </div>
        </div>
        <div class="pointLog_table">
            <table>
                <thead>
                    <tr>
                        <th data-column="1" class="sortable">날짜 <span class="arrow">▲</span></th>
                        <th data-column="2" class="sortable">사유 <span class="arrow">▲</span></th>
                        <th data-column="3" class="sortable">해당 상벌점 <span class="arrow">▲</span></th>
                        <th data-column="4" class="sortable">부여자 <span class="arrow">▲</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range( pointLogList | length) %}
                    <tr>
                        <td>{{ pointLogStudent[i].addDate }}</td>
                        <td>{{ pointLogStudent[i].reason }}</td>
                        <td>{{ pointLogList[i].point }}</td>
                        <td>{{ pointLogList[i].name }}</td>
                    </tr>
                    {% endfor %}

                    <tr class="main-row">
                        <td>2025.26.23</td>
                        <td>넘모 기특해 ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</td>
                        <td>5</td>
                        <td>홍창기아프지마..</td>
                    </tr>
                     <tr class="dropdown-row" style="display: none;">
                        <td colspan="4">
                            사유 적는칸~
                            <br>
                            뭔 말알?
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/teacher/pointLogStudent.js') }}"></script>
</body>

</html>