<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 내역</title>
    <link href="{{ url_for('static', filename='css/student/pointLogStudent.css') }}" rel="stylesheet">
</head>
<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">{{ usersDTO.stdNum }}</p>
    <p class="name">{{ usersDTO.name }}</p>

    <a class="mypage_nav" href="/student/">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/student/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/student/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="community_nav" href="/student/community">게시판</a>

    <hr class="four">

    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <div class="log_table">
        <table>
            <thead>
                <tr>
                    <th data-column="1" class="sortable">학번</th>
                    <th data-column="2" class="sortable">이름</th>
                    <th data-column="3" class="sortable">사유</th>
                    <th data-column="4" class="sortable">부여 시각</th>
                    <th data-column="5" class="sortable">부여 점수</th>
                    <th data-column="6" class="sortable">부여자</th>
                </tr>
            </thead>
            <tbody>
                    {% for pointLog in pointLogList %}
                    <tr class="main-row">
                        <td>{{ pointLog.studentNum }}</td>
                        <td>{{ pointLog.studentName }}</td>
                        <td title="{{ pointLog.reason }}">{{ pointLog.reason }}</td>
                        <td class="date-cell">{{ pointLog.addDate }}</td>
                        <td>{{ pointLog.point }}</td>
                        <td>{{ pointLog.giveTeacherName }}</td>
                    </tr>
                    <tr class="dropdown-row"> 
                        <td colspan="6" class="pointReason">
                            사유: 
                            <br>
                            의견:
                            <br>
                            시간:
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<script src="{{ url_for('static', filename='js/student/pointLogStudent.js') }}"></script>

</html>