<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 수정</title>
    <link href="{{ url_for('static', filename='css/teacher/communityAddTeacher.css') }}" rel="stylesheet">
</head>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">인공지능소프트웨어과</p>
    <p class="name">{{ usersDTO.name }}선생님</p>

    <a class="mypage_nav" href="/teacher/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/teacher/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointList_nav" href="/teacher/pointList">상벌점 항목</a>
    <hr class="three">
    <a class="studentManagement_nav" href="/teacher/studentManagement">학생 관리</a>
    <hr class="four">
    <a class="teacherManagement_nav" href="/teacher/teacherManagement">선생님 관리</a>
    <hr class="five">
    <a class="community_nav" href="/teacher/community">게시판</a>

    <hr class="six">

    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <form method="post" action="{{ url_for('teacher.communityEdit', noticeId=notice.id) }}">
        <input type="text" name="title" class="title_input" placeholder="&nbsp;제목을 입력해주세요." value="{{ notice.title }}" required>

        <div class="writer_box">
            <!-- <h2 class="writer">&ensp;작성자 : {{ session['name'] }}</h2> -->
            <h2 class="writer">&ensp;작성자 : {{ notice.author }}</h2>
        </div>
        <textarea name="content" class="content_input" placeholder="본문에 내용을 입력해주세요." required>{{ notice.content }}</textarea>

        <button class="sumit" type="submit">수정</button>
    </form>
</body>
</html>