<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="{{ url_for('static', filename='css/teacher/communityTeacher.css') }}" rel="stylesheet">
</head>

<button class="nav-toggle hamburger" aria-label="메뉴 열기">&#9776;</button>

<body>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav class="sidebar">
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">인공지능소프트웨어과</p>
    <p class="name">{{ session["name"] }}선생님</p>

    <a class="mypage_nav" href="/teacher/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/teacher/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/teacher/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="studentManagement_nav" href="/teacher/studentManagement">학생 관리</a>
    <hr class="four">
    <a class="community_nav" href="/teacher/community">게시판</a>

    <button class="myInfoEdit_nav">내 정보 수정</button>
    <hr class="five">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<div class="container">
    <table class="notice_table">
        <tr>
            <th scope="list">번호</th>
            <th scope="list" class="wide-column">제목</th>
            <th scope="list" class="wide-column2">작성자</th>
            <th scope="list" class="wide-column3">작성일</th>
        </tr>
        {% for notice in notices[::-1] %}
        <tr>
            <td>{{ notices|length - loop.index0 }}</td>
            <td class="wide-column">
                <a class="nextpage" href="{{ url_for('teacher.communityDetail', noticeId=notice.id) }}">{{ notice.title }}</a>
            </td>
            <td>{{ notice.author }}</td>
            <td class="date-cell">{{ notice.created_date }}</td>
        </tr>
        {% endfor %}
    </table>  
    <div class="pageNation">
        <button class="pageNation-btn disabled">←</button>
        <button class="pageNation-btn active">1</button>
        <button class="pageNation-btn">→</button>
    </div>
</div>
<button class="write-btn" onClick="location.href='/teacher/community/add'">글쓰기</button>
<script src="{{ url_for('static', filename='js/teacher/communityTeacher.js') }}"></script>
<script src="{{ url_for('static', filename='js/auth/myInfoEditOpen.js') }}"></script>
</body>
</html>