<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 추가</title>
    <link href="/css/cummunity_teacher-add.css" rel="stylesheet">
</head>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="/img/simple.png">
    <p class="number">아이디칸</p>
    <p class="name">선생님 이름</p>

    <a class="mypage_nav" href="/template/mainpage_stu.html">마이페이지</a>
    <hr class="first">
    <a class="award_nav" href="/template/log_stu.html">상점 부여</a>
    <hr class="two">
    <a class="penalty_nav" href="/template/log_stu.html">벌점 부여</a>
    <hr class="three">
    <a class="stu_manager_nav" href="/template/log_stu.html">학생 관리</a>
    <hr class="four">
    <a class="teacher_manager_nav" href="/template/log_stu.html">선생님 관리</a>
    <hr class="five">
    <a class="community_nav" href="/template/community_stu.html">게시판</a>

    <hr class="six">
    <button class="logout">logout</button>
</nav>

<body>
    <input type = "text" name ="title" class = "title_input" placeholder="&nbsp;제목을 입력해주세요.">

    <div class="writer_box">
        <h2 class="writer">&ensp;작성자 : </h2>
    </div>
    <textarea class="content_input" placeholder="본문에 내용을 입력해주세요."></textarea>

    <button class="sumit">작성</button>
</body>

</html>