<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 추가</title>
    <link href="{{ url_for('static', filename='css/teacher/communityAddTeacher.css') }}" rel="stylesheet">
</head>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">인공지능소프트웨어과</p>
    <p class="name">{{ session["name"] }}선생님</p>

    <a class="mypage_nav" href="/teacher/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/teacher/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/teacher/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="studentManagement_nav" href="/teacher/studentManagement">학생 관리</a>
    <hr class="four">
    <a class="community_nav" href="/teacher/community">게시판</a>

    <button class="myInfoEdit_nav">내 정보 수정</button>
    <hr class="five">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <form method="post" action="{{ url_for('teacher.communityAdd') }}">
        <input type="text" name="title" class="title_input" placeholder="&nbsp;제목을 입력해주세요." required>

        <div class="writer_box">
            <h2 class="writer">&ensp;작성자 : {{ session['name'] }}</h2>
        </div>

        <div class="date">
            <p>2025.26.23 22:25:03</p>
        </div>

        <textarea name="content" class="content_input" placeholder="본문에 내용을 입력해주세요." required></textarea>
        <button class="write_btn">작성</button>

    </body>
    </html>