<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/givePointLog.css') }}">
    <title>상벌점 관리 페이지</title>
</head>

<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">인공지능소프트웨어과</p>
    <p class="name">{{ session["name"] }}선생님</p>

    <a class="mypage_nav" href="/teacher/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/teacher/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/teacher/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="studentManagement_nav" href="/teacher/studentManagement">학생 관리</a>
    <hr class="four">
    <a class="community_nav" href="/teacher/community">게시판</a>

    <button class="myInfoEdit_nav">내 정보 수정</button>
    <hr class="five">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>
<body>
    <div class="pointLog">
        <div class="buttonsContainer">
            <div class="searchBar">
                <input type="text" class="searchInput" placeholder="찾으실 학생의 정보을 적어주세요.">
            </div>
            <button class="searchButton">검색</button>
            <img src="{{ url_for('static', filename='img/filterIcon.png') }}" alt="필터 아이콘" class="filterIcon">
            <div class="filterPopup hidden">
                <h4>학년 구분</h4>
                <label><input type="checkbox" name="grade" value="1학년"> 1학년</label>
                <label><input type="checkbox" name="grade" value="2학년"> 2학년</label>
                <label><input type="checkbox" name="grade" value="3학년"> 3학년</label>
                <h4>상벌점 구분</h4>
                <label><input type="checkbox" name="point" value="상점"> 상점</label>
                <label><input type="checkbox" name="point" value="벌점"> 벌점</label>
                <button class="resetFilters">초기화</button>
            </div>
        </div>
        <div class="pointLog_table">
            <table>
                <thead>
                    <tr>
                        <th data-column="1" class="sortable">학번 </th>
                        <th data-column="2" class="sortable">이름</th>
                        <th data-column="3" class="sortable">사유</th>
                        <th data-column="4" class="sortable">부여 시각</th>
                        <th data-column="5" class="sortable">부여 점수</th>
                        <th data-column="6" class="sortable">부여자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pointLog in pointLogList %}
                    <tr class="main-row">
                        <td>{{ pointLog.studentNum }}</td>
                        <td>{{ pointLog.studentName }}</td>
                        <td title="{{ pointLog.reason }}">{{ pointLog.reason }}</td>
                        <td>{{ pointLog.addDate }}</td>
                        <td>{{ pointLog.point }}</td>
                        <td>{{ pointLog.giveTeacherName }}</td>
                    </tr>

                    <tr class="dropdown-row">
                        <td colspan="6" class="pointReason">
                            <p class="reason">사유 : {{ pointLog.reason }}</p>
                            <p class="opinion">의견 : {{ pointLog.opinion }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/teacher/givePointLog.js') }}"></script>

</html>
