<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/indexTeacher.css') }}">
    <title>상벌점 관리 페이지</title>
</head>

<header>
    <h2 class="main">마이페이지</h2>
</header>

<nav>
    <img class="profiles" src="{{ url_for('static', filename='img/logo.png') }}">
    <p class="number">{studentNum}</p>
    <p class="name">{name}</p>

    <a class="mypage_nav" href="/teacher/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/teacher/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="studentManagement_nav" href="/teacher/studentManagement">학생 관리</a>
    <hr class="three">
    <a class="teacherManagement_nav" href="/teacher/teacherManagement">선생님 관리</a>
    <hr class="four">
    <a class="community_nav" href="/teacher/community">게시판</a>

    <hr class="five">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>

    <div class="giveBonusPoint">
        <div class="box"></div>
        <h1 class="giveBonus">상점 부여</h1>
    </div>
    <div class="givePenaltyPoint">
        <div class="box"></div>
        <h1 class="givePenalty">벌점 부여</h1>
    </div>

    <div class="studentInfo">
        <div class="header">
            <h1>학생 관리</h1>
        </div>
        <div class="studentInfo_table">
            <table>
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>학번</th>
                        <th>아이디</th>
                        <th>총 상벌점</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>학생</td>
                        <td>30200</td>
                        <td>student123</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30201</td>
                        <td>student124</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30202</td>
                        <td>student125</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30203</td>
                        <td>student126</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30204</td>
                        <td>student127</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30205</td>
                        <td>student128</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30206</td>
                        <td>student129</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30207</td>
                        <td>student130</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30208</td>
                        <td>student131</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30209</td>
                        <td>student132</td>
                        <td>55</td>
                    </tr>
                    <tr>
                        <td>학생</td>
                        <td>30210</td>
                        <td>student133</td>
                        <td>60</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='studentManagement.html'">더보기</button>
    </div>

    <div class="teacherManagement_box">
        <div class="header">
            <h1>선생님 관리</h1>
        </div>
        <div class="teacherManagement_table">
            <table>
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>아이디</th>
                        <th>마지막 활동</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>선생님</td>
                        <td>teacher123</td>
                        <td>2025.12.26</td>
                    </tr>
                    <tr>
                        <td>선생님</td>
                        <td>teacher124</td>
                        <td>2025.12.26</td>
                    </tr>
                    <tr>
                        <td>선생님</td>
                        <td>teacher125</td>
                        <td>2025.12.26</td> 
                    </tr>
                    <tr>
                        <td>선생님</td>
                        <td>teacher126</td>
                        <td>2025.12.26</td>
                    </tr>
                    <tr>
                        <td>선생님</td>
                        <td>teacher127</td>
                        <td>2025.12.26</td>
                    </tr>
                    <tr>
                        <td>선생님</td>
                        <td>teacher128</td>
                        <td>2025.12.26</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='teacherManagement.html'">더보기</button>
    </div>
    <div class="community_box">
        <div class="header">
            <h1>게시판</h1>
        </div>
        <div class="community_table">
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices[::-1][:5] %}
                    <tr>
                        <td>{{ notices|length - loop.index0 }}</td>
                        <td>
                            <a href="{{ url_for('teacher.communityDetail', noticeId=notice.id) }}">{{ notice.title }}</a>
                        </td>
                        <td>{{ notice.author }}</td>
                        <td>{{ notice.created_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='/teacher/community'">더보기</button>
    </div>



    <script src="{{ url_for('static', filename='js/teacher/indexTeacher.js') }}"></script>

</body>



</html>
