<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/indexTeacher.css') }}">
    <title>상벌점 관리 페이지</title>
</head>

<button class="nav-toggle hamburger" aria-label="메뉴 열기">&#9776;</button>

<header>
    <h2 class="main">마이페이지</h2>
</header>

<nav class="sidebar">
    <img class="profiles" src="{{ url_for('static', filename='img/simple.png') }}">
    <p class="number">인공지능소프트웨어과</p>
    <p class="name">{{ session["name"] }}선생님</p>

    <a class="mypage_nav" href="/teacher/">마이페이지</a>
    <hr class="first">
    <a class="givePoint_nav" href="/teacher/pointLog">상벌점 내역</a>
    <hr class="two">
    <a class="pointReasons_nav" href="/teacher/pointReasons">상벌점 항목</a>
    <hr class="three">
    <a class="studentManagement_nav" href="/teacher/studentManagement">학생 관리</a>
    <hr class="four">
    <a class="community_nav" href="/teacher/community">게시판</a>

    <button class="myInfoEdit_nav">내 정보 수정</button>
    <hr class="five">
    <button class="logout" onClick="location.href='/auth/logout.do'">logout</button>
</nav>

<body>
    <div class="awardGive">
        <button class="giveBonus">
            <h1>상점 부여</h1>
            <p>클릭시 상점 부여 가능</p>
        </button>
        <div class="awardGive_table">
            <table>
                <thead>
                    <tr>
                        <th>학번</th>
                        <th>이름</th>
                        <th>사유</th>
                        <th>부여한 상점</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bonusPointLog in bonusPointLogList %}
                    <tr>
                        <td>{{ bonusPointLog.studentNum }}</td>
                        <td>{{ bonusPointLog.studentName }}</td>
                        <td>{{ bonusPointLog.reason }}</td>
                        <td>{{ bonusPointLog.point }}점</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='/teacher/studentManagement'">더보기</button>
    </div>

    <div class="penaltyGive_box">
        <button class="givePenalty">
            <h1>벌점 부여</h1>
            <p>클릭 시 벌점 부여 가능</p>
        </button>
        <div class="penaltyGive_table">
            <table>
                <thead>
                    <tr>
                        <th>학번</th>
                        <th>이름</th>
                        <th>사유</th>
                        <th>부여한 벌점</th>
                    </tr>
                </thead>
                <tbody>
                    {% for penaltyPointLog in penaltyPointLogList %}
                    <tr>
                        <td>{{ penaltyPointLog.studentNum }}</td>
                        <td>{{ penaltyPointLog.studentName }}</td>
                        <td>{{ penaltyPointLog.reason }}</td>
                        <td>{{ penaltyPointLog.point }}점</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='/teacher/studentManagement'">더보기</button>
    </div>
    <div class="manyUseList_box">
        <div class="header">
            <h1>자주 쓰는 항목</h1>
        </div>
        <div class="manyUseList_table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>구분</th>
                        <th>번호</th>
                        <th>사유</th>
                        <th>해당 상벌점</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pr in pointReason %}
                    {% if pr.no in favoritePointReasonNo %}
                    <tr>
                        <td>★</td>
                        <td>{% if pr.type == 'bonus' %}상점{% else %}벌점{% endif %}</td>
                        <td>{% if pr.type == 'bonus' %} {{ pr.no - 100 }} {% else %} {{ pr.no - 200 }} {% endif %}</td>
                        <td title="">{{ pr.reason }}</td>
                        <td>{{ pr.value }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='/teacher/pointReasons'">더보기</button>
    </div>
    <div class="community_box">
        <div class="header">
            <h1>게시판</h1>
        </div>
        <div class="community_table">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices[::-1][:5] %}
                    <tr>
                        <td>{{ notices|length - loop.index0 }}</td>
                        <td>
                            <a href="{{ url_for('teacher.communityDetail', noticeId=notice.id) }}">{{ notice.title
                                }}</a>
                        </td>
                        <td title="">{{ notice.author }}</td>
                        <td>{{ notice.created_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="more" onClick="location.href='/teacher/community'">더보기</button>
    </div>



    <script src="{{ url_for('static', filename='js/teacher/indexTeacher.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/myInfoEditOpen.js') }}"></script>
</body>



</html>