<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>선생님 승인 팝업</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/teacherSignupApproval.css') }}">
</head>
<body>
  <div class="container">
    <div class="popup-box">
      <h2>선생님 승인</h2>
      <p class="subtitle">이 계정을 선생님 계정으로 승인하시겠습니까?</p>
      <table>
        <thead>
          <tr>
            <th scope="list">이름</td>
            <th scope="list">아이디</td>
            <th scope="list" >확인코드</td>
            <th></th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>이기남</td>
            <td class="width">엉쪄구</td>
            <td>966666</td>
            <td>
              <button class="approve">동의</button>
              <button class="reject">거부</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
