@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}
header {
    width: 80%;
    height: 10%;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 3px 3px 3px gray;
    background-attachment: fixed;
}

.main {
    position: absolute;
    top: 0%;
    left: 3%;
    color: #55595D;
    font-size: 35px;
}

nav {
    background-color: #BCCCDC;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

nav > a {
    font-size: 24px;
}

nav > a:not(.community_nav):hover{
    color: #d8d8d8;
}

nav > .profiles{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav > .number {
    position: absolute;
    left: 50%;
    top: 6%;
    color: white;
}

nav > .name {
    position: absolute;
    left: 50%;
    top: 9%;
    font-size: larger;
    color: white;
}

nav > .mypage_nav {
    color: white;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav > .first{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav > .log_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .two{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav > .pointReasons_nav {
    color: white;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .three{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav > .community_nav {
    color: #575e65;
    position: absolute;
    top: 51%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .myInfoEdit_nav{
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    left: 9%;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #BCCCDC;
    border: none;
}

.myInfoEdit_nav:hover{
    color: #d8d8d8;
}
nav > .four{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
}


.logout {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
    font-size: 24px;
}

.container{
    overflow-y: scroll;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 20%;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    border-top: #000000 solid 3px;
    margin-top: 3%;
}

table a {
    text-decoration: none;
    color: #3f3f3f;
}

th {
    background: #ffffff;
    padding: 1.5%;
    text-align: center; /* 가운데 정렬 */
    border-bottom: #000000 solid 3px;
    font-size: 20px;
    min-width: 100px;
}

td {
    padding: 1.5%;
    text-align: center; /* 가운데 정렬 */
    border-bottom: #55595D solid 1px;
    font-size: 20px;
    color: #3f3f3f;
} 

button{
    font-family: 'KakaoSmallSans-Bold', sans-serif;    
}