@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}

header {
    width: 80%;
    height: 10%;
    background-color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    box-shadow: 3px 3px 3px gray;
    z-index: 5;
}

.main {
    position: absolute;
    top: 0%;
    left: 3%;
    color: #55595D;
    font-size: 35px;
    margin: 0%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    background-color: #BCCCDC;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;

}

nav > a {
    font-size: 24px;
}

nav>a:not(.community_nav):hover {
    color: #d8d8d8;
}

nav>.profiles {
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav>.name {
    position: absolute;
    left: 50%;
    top: 7.5%;
    color: white;
    font-size: 20px;
}

nav>.mypage_nav {
    color: white;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav>.first {
    width: 90%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav>.log_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav>.two {
    width: 90%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav>.pointReasons_nav {
    color: white;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav>.three {
    width: 90%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav>.community_nav {
    color: #575e65;
    position: absolute;
    top: 51%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav>.myInfoEdit_nav {
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    left: 9%;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #BCCCDC;
    border: none;
}

.myInfoEdit_nav:hover {
    color: #d8d8d8;
}

nav > .four{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
}


.logout {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
    font-size: 24px;
}

.title_box {
    width: 45%;
    height: 7%;
    position: absolute;
    top: 15%;
    left: 25%;
    background-color: #E6EEF6;
    display: flex;
    align-items: center;
    color: #55595D;
}

.title_box>.title {
    width: 10%;
    text-align: center;
}

.writer_box {
    width: 20%;
    height: 7%;
    position: absolute;
    top: 15%;
    left: 75%;
    background-color: #E6EEF6;
    display: flex;
    align-items: center;
    color: #55595D;
}

.writer_box>.writer {
    width: 30%;
    text-align: center;
}

.text_box {
    width: 66%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #E6EEF6;
    display: flex;
    color: #55595D;
    padding: 2%;
}

.date {
    width: 30%;
    height: 25%;
    margin: 13% 25%;
}

.input {
    width: 50%;
    height: 5%;
    border: 1;
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 1px #55595D;
    color: #55595D;
    margin-top: 8%;
    margin-left: 25%;
    font-size: 18px;
}

.input:focus {
    outline: none;
}

.sumit {
    width: 10%;
    height: 5%;
    position: relative;
    left: 10%;
    top: 0%;
    border: none;
    border-radius: 5px;
    background-color: #8392a0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.comment_box {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 20%;
}

.comments {
    width: 90%;
    height: 10%;
    position: relative;
    margin: 1% 0% 0% 5%;
    border-bottom: 1px solid gray;
}

.comments>img {
    width: auto;
    height: 60%;
    position: absolute;
    left: 0%;
    top: 20%;
}

.comments>.ID {
    width: 53%;
    position: absolute;
    left: 7%;
    top: 25%;
}

.ID>.name {
    position: relative;
    bottom: 0%;
    margin: 0%;
}

.ID>.date_ {
    position: absolute;
    bottom: 0%;
    left: 21%;
    width: 100%;
    margin: 0%;
    font-size: 12px;
}

.comment {
    position: absolute;
    top: 40%;
    left: 7%;
}

button{
        font-family: 'KakaoSmallSans-Bold', sans-serif;
}

@media (min-width: 900px){
    .hamburger { display: none; }
    .sidebar { left: 0; position: absolute; width: 20%; }
}

@media (max-width: 767px) {
    .hamburger {
    position: fixed;
    top: 0.6%;
    left: 1.5%;
    z-index: 11;
    background: none;
    border: none;
    font-size: 32px;
    color: #333;
    cursor: pointer;
    display: block;
}

    body {
        font-family: 'KakaoSmallSans-Bold', sans-serif;
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        right: 0%;
        margin: 0%;
    }
    nav.sidebar {
    position: fixed;
    background-color: #BCCCDC;
    left: -100%;
    width: 85%;
    height: 100%;
    top: 0%;
    z-index: 10;
    transition: left 0.3s;
}
/* nav가 열렸을 때 */
.sidebar.active {
    left: 0;
}

nav > a {
    font-size: 24px;
}

nav > a:not(.pointReasons_nav):hover{
    color: #d8d8d8;
}

nav > .profiles{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav > .name {
    position: absolute;
    left: 50%;
    top: 7.5%;
    font-size: larger;
    color: white;
}

nav > .mypage_nav {
    color: white;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav > .first{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav > .log_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .two{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav > .pointReasons_nav {
    color: white;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .three{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav > .community_nav {
    color: #575e65;
    position: absolute;
    top: 51.4%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .four{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
}

nav > .myInfoEdit_nav{
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    left: 9%;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #BCCCDC;
    border: none;
}
.myInfoEdit_nav:hover{
    color: #d8d8d8;
}

td, th {
    text-overflow: ellipsis;
}

.logout {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
    font-size: 24px;
}


    header {
    width: 100%;
    height: 7%;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 0px 3px 3px gray;
    z-index: 1;
    }       

    .main {
    position: absolute;
    left: 15%;
    top: 2%;
    color: #55595D;
    font-size: 30px;
}

    .title_box {
        width: 90%;
        height: 6%;
        left: 5%;
        top: 12%;
        font-size: 13px;

    }

    .title_box>.title {
        width: 30%;
    }

    .writer_box {
        width: 90%;
        height: 6%;
        top: 19%;
        left: 5%;
        font-size: 13px;
    }

    .writer_box>.writer {
        width: 35%;
    }

    .text_box {
        width: 80%;
        height: 47%;
        top: 30%;
        left: 5%;
        padding: 5%;
        line-height: 25px;
    }

    .date {
        width: 60%;
        height: 4%;
        position: absolute;
        top: 26%;
        left: 5%;
        font-size: 12px;
        margin: 0%;
    }

    .comment_box {
        left: 5%;
        top: 90%;
        width: 90%;
    }

    .comments {
        margin: 0%;
    }

    .comments>img {
        height: 55%;
    }

    .comments>.ID {
        left: 20%;
        font-size: 13px;
    }

    .comment {
        left: 22%;
        font-size: 10px;
    }

    .ID>.date_ {
        left: 70%;
        font-size: 8px;
    }

    .input {
        position: absolute;
        top: 82%;
        width: 75%;
        height: 3%;
        left: 5%;
        font-size: 7px;
        margin: 0%;
    }

    .sumit {
        position: absolute;
        top: 82.5%;
        left: 83%;
        height: 3%;
        width: 12%;
        font-size: 10px;
    }



}