@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 0%;
}

header {
    width: 80%;
    height: 10%;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 3px 3px 3px gray;
}

.main {
    position: absolute;
    top: 0%;
    left: 3%;
    color: #55595D;
    font-size: 35px;
    margin: 0%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    background-color: #BCCCDC;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;

}

nav>a {
    font-size: 20px;
}

nav>a:not(.mypage_nav):hover {
    color: #d8d8d8;
}

nav>.profiles {
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav>.number {
    position: absolute;
    left: 50%;
    top: 6%;
    color: white;
}

nav>.name {
    position: absolute;
    left: 50%;
    top: 9%;
    font-size: larger;
    color: white;
}

nav>.mypage_nav {
    color: #575e65;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav>.first {
    width: 90%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav>.log_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav>.two {
    width: 90%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav>.pointReasons_nav {
    color: white;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav>.three {
    width: 90%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav>.community_nav {
    color: white;
    position: absolute;
    top: 51%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .myInfoEdit_nav{
    color: white;
    position: absolute;
    bottom: 13%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
    z-index: 10;
}

nav > .four{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
}


.logout {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
    font-size: 20px;
}

.all_score {
    width: 55%;
    height: 8%;
    position: absolute;
    top: 13%;
    left: 22%;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
}

.all_score>.box {
    width: 4%;
    height: 100%;
    background-color: #BCCCDC;
}

.all_score>h1 {
    width: 83%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 7%;
    text-align: center;
    margin: 0% 0%;
    color: #575e65;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.all_log {
    width: 17%;
    height: 8%;
    background-color: #BCCCDC;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 13%;
    left: 80%;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
}

.all_log:active {
    transform: scale(0.99);
    /* 살짝 눌리는 효과 */
}

.all_log:hover {
    background-color: #9AA6B2;
    /* hover 시 어두운 색 */
}

.all_log:hover {
    background-color: #9AA6B2; /* hover 시 어두운 색 */
}
.all_log:active {
    transform: scale(0.95); /* 살짝 눌리는 효과 */
}

.upscore_box {
    width: 37%;
    height: 43%;
    position: absolute;
    top: 24.5%;
    left: 22%;
    border-radius: 5px;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
    overflow: hidden;
}

.upscore_box>.header {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #BCCCDC;
    border-radius: 5px 5px 0px 0px;
    padding-top: 0.5%;
}

.upscore_box>.header>h1 {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0%;
    left: 4%;
    margin: 0%;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}

.upscore_box>.more {
    width: 13%;
    height: 8%;
    background-color: #BCCCDC;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: white;
    cursor: pointer;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.upscore_box > .more:hover {
    background-color: #9AA6B2; /* hover 시 어두운 색 */
}
.upscore_box > .more:active {
    transform: scale(0.95); /* 살짝 눌리는 효과 */
}

.up_log {
    width: 90%;
    border-collapse: collapse;
    margin-top: 12%;
    margin-left: 5%;
    table-layout: fixed;

}

.up_log th {
    background: #ffffff;
    padding: 2%;
    text-align: center;
    /* 가운데 정렬 */
    border-bottom: #55595D solid 3px;
    border-top: #55595D solid 3px;
    font-size: 15px;
}

.downscore_box {
    width: 37%;
    height: 43%;
    position: absolute;
    top: 24.5%;
    left: 61%;
    border-radius: 5px;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
    overflow: hidden;
}

.downscore_box>.header {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #BCCCDC;
    border-radius: 5px 5px 0px 0px;
    padding-top: 0.5%;
}

.downscore_box>.header>h1 {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0%;
    left: 4%;
    margin: 0%;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}

.downscore_box>.more {
    width: 13%;
    height: 8%;
    background-color: #BCCCDC;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: white;
    cursor: pointer;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.downscore_box > .more:hover {
    background-color: #9AA6B2; /* hover 시 어두운 색 */
}
.downscore_box > .more:active {
    transform: scale(0.95); /* 살짝 눌리는 효과 */
}

.down_log {
    width: 90%;
    border-collapse: collapse;
    margin-top: 12%;
    margin-left: 5%;
    table-layout: fixed;

}

.down_log th {
    background: #ffffff;
    padding: 2%;
    text-align: center;
    /* 가운데 정렬 */
    border-bottom: #55595D solid 3px;
    border-top: #55595D solid 3px;
    font-size: 15px;
}

.community_box {
    width: 76%;
    height: 27%;
    position: absolute;
    top: 70%;
    left: 22%;
    border-radius: 5px;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
    overflow: hidden;
}

.community_box>.header {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #BCCCDC;
    border-radius: 5px 5px 0px 0px;
    padding-top: 0.5%;
}

.community_box>.header>h1 {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0%;
    left: 2%;
    margin: 0%;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}

.community {
    width: 90%;
    border-collapse: collapse;
    margin-top: 5%;
    margin-left: 5%;
    table-layout: fixed;
}

.community th {
    background: #ffffff;
    padding: 1%;
    text-align: center;
    /* 가운데 정렬 */
    border-bottom: #55595D solid 3px;
    border-top: #55595D solid 3px;
    font-size: 15px;
}

.community_box>.more {
    width: 6%;
    height: 15%;
    background-color: #BCCCDC;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 3%;
    right: 1%;
    color: white;
    cursor: pointer;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.more:active {
    transform: scale(0.99);
    /* 살짝 눌리는 효과 */
}

.more:hover {
    background-color: #9AA6B2;
    /* hover 시 어두운 색 */
}

.community_box > .more:hover {
    background-color: #9AA6B2; /* hover 시 어두운 색 */
}
.community_box > .more:active {
    transform: scale(0.95); /* 살짝 눌리는 효과 */
}

th,
td {

    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border-bottom: 1px solid #55595D;

    vertical-align: top;
    vertical-align: bottom;
    vertical-align: middle;

    text-align: center;
    color: #55595D;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}