@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
}

header {
    width: 80%;
    height: 10%;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 3px 3px 3px gray;
    background-attachment: fixed;
}

.main {
    position: absolute;
    top: 0%;
    left: 3%;
    color: #55595D;
    font-size: 35px;
    margin: 0%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    background-color: #BCCCDC;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

nav > a {
    font-size: 24px;
}

nav > a:not(.pointReasons_nav):hover{
    color: #d8d8d8;
}

nav > .profiles{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav>.name {
    position: absolute;
    left: 50%;
    top: 7.5%;
    color: white;
    font-size: 20px;
}

nav > .mypage_nav {
    color: white;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav > .first{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav > .log_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .two{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav > .pointReasons_nav {
    color: #575e65;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .three{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav > .community_nav {
    color: white;
    position: absolute;
    top: 51%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .myInfoEdit_nav{
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    left: 9%;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #BCCCDC;
    border: none;
}

.myInfoEdit_nav:hover{
    color: #d8d8d8;
}

nav > .four{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
}


.logout {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
    font-size: 24px;
}


table{
   font-size:10px;
}

.rewardList {
    width: 35%;
    height: 82%;
    position: absolute;
    top: 12%;
    left: 23%;
    border-radius: 5px;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2%;
}

.rewardList> .header{
    width: 100%;
    height: 10%;
    position: sticky;
    top: 0;
    right: 0%;
    background-color: #BCCCDC;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-sizing: border-box;
    z-index: 10;
}

.rewardList > .header >  h1{
    color: white;
    margin: 0;
    font-size: 25px;
    position: static;
}


.rewardList> .studentInfo_table {
    width: 100%; /* 테이블 너비 */
    max-height: 70%; /* 테이블 높이 */
    margin: auto; /* 가운데 정렬 */
}

.rewardList_table table {
    width: 90%;
    border-collapse: collapse;
    margin: 5% auto; /* 가운데 정렬 */
    font-size: 14px;
    border-top: #000000 solid 3px;
}

.rewardList_table th {
    background: #ffffff;
    padding: 2%;
    text-align: center; /* 가운데 정렬 */
    border-bottom: #000000 solid 3px;
    font-size: 20px;
}

.rewardList_table td {
    padding: 2%;
    text-align: center; /* 가운데 정렬 */
    border-bottom: #55595D solid 1px;
    font-size: 20px;
    color: #3f3f3f;
}

.rewardList_table tbody tr:hover {
    background: #f9f9f9;
}

.rewardList > .more {
    width: 10%;
    height: 5%;
    background-color: #BCCCDC;
    border: none;
    border-radius: 10%;
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: white;
    cursor: pointer;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    font-size: 15px;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.rewardList > .more:hover {
    background-color: #7d8791; /* hover 시 어두운 색 */
}
.rewardList > .more:active {
    transform: scale(0.95); /* 살짝 눌리는 효과 */
}


.penaltyList {
    width: 35%;
    height: 82%;
    position: absolute;
    top: 12%;
    left: 62%;
    border-radius: 5px;
    box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2%;
}

.penaltyList> .header{
    width: 100%;
    height: 10%;
    position: sticky;
    top: 0;
    right: 0%;
    background-color: #BCCCDC;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-sizing: border-box;
    z-index: 10;
}

.penaltyList > .header >  h1{
    color: white;
    margin: 0;
    font-size: 25px;
    position: static;
}


.penaltyList> .studentInfo_table {
    width: 100%; /* 테이블 너비 */
    max-height: 70%; /* 테이블 높이 */
    margin: auto; /* 가운데 정렬 */
}

.penaltyList_table table {
    width: 90%;
    border-collapse: collapse;
    margin: 5% auto; /* 가운데 정렬 */
    font-size: 14px;
    border-top: #000000 solid 3px;
}

.penaltyList_table th {
    background: #ffffff;
    padding: 2%;
    text-align: center; /* 가운데 정렬 */
    border-bottom: #000000 solid 3px;
    font-size: 20px;
}

.penaltyList_table td {
    padding: 2%;
    text-align: center; /* 가운데 정렬 */
    border-bottom: #55595D solid 1px;
    font-size: 20px;
    color: #3f3f3f;
}

.penaltyList_table tbody tr:hover {
    background: #f9f9f9;
}

.penaltyList > .more {
    width: 10%;
    height: 5%;
    background-color: #BCCCDC;
    border: none;
    border-radius: 10%;
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: white;
    cursor: pointer;
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    font-size: 15px;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.penaltyList > .more:hover {
    background-color: #7d8791; /* hover 시 어두운 색 */
}
.penaltyList > .more:active {
    transform: scale(0.95); /* 살짝 눌리는 효과 */
}

.num{
    width: 12%;
}
.reward{
    width: 13%;
}
.penalty{
    width: 13%;
}

/* 필요시 더 작게 */
.rewardList_table table td,
.rewardList_table table th,
.penaltyList_table table td,
.penaltyList_table table th {
  font-size: 18px;
}

button{
    font-family: 'KakaoSmallSans-Bold', sans-serif;    
}


@media (min-width: 900px){
    .hamburger { display: none; }
    .sidebar { left: 0; position: absolute; width: 20%; }
}

@media (max-width: 767px) {
    .hamburger {
    position: fixed;
    top: 0.6%;
    left: 1.5%;
    z-index: 11;
    background: none;
    border: none;
    font-size: 32px;
    color: #333;
    cursor: pointer;
    display: block;
}

    body {
        font-family: 'KakaoSmallSans-Bold', sans-serif;
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        right: 0%;
        margin: 0%;
    }
    nav.sidebar {
    position: fixed;
    background-color: #BCCCDC;
    left: -100%;
    width: 85%;
    height: 100%;
    top: 0%;
    z-index: 10;
    transition: left 0.3s;
}
/* nav가 열렸을 때 */
.sidebar.active {
    left: 0;
}

nav > a {
    font-size: 24px;
}

nav > a:not(.pointReasons_nav):hover{
    color: #d8d8d8;
}

nav > .profiles{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
}

nav > .name {
    position: absolute;
    left: 50%;
    top: 7.5%;
    font-size: larger;
    color: white;
}

nav > .mypage_nav {
    color: white;
    position: absolute;
    top: 30.5%;
    left: 10%;
    text-decoration: none;
}

nav > .first{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 34%;
    left: 5%;
}

nav > .log_nav {
    color: white;
    position: absolute;
    top: 37.3%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .two{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 41%;
    left: 5%;
}

nav > .pointReasons_nav {
    color: #575e65;
    position: absolute;
    top: 44.2%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .three{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 48%;
    left: 5%;
}

nav > .community_nav {
    color: white;
    position: absolute;
    top: 51.4%;
    left: 10%;
    text-decoration: none;
    cursor: pointer;
}

nav > .four{
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
}

nav > .myInfoEdit_nav{
    color: #ffffff;
    position: absolute;
    bottom: 13%;
    left: 9%;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #BCCCDC;
    border: none;
}
.myInfoEdit_nav:hover{
    color: #d8d8d8;
}

td, th {
    text-overflow: ellipsis;
}

.logout {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 9%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
    font-size: 24px;
}


    header {
    width: 100%;
    height: 7%;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 0px 3px 3px gray;
    z-index: 1;
    }       

    .main {
    position: absolute;
    left: 15%;
    top: 2%;
    color: #55595D;
    font-size: 30px;
}

    .rewardList {
        width: 90%;
        height: 75%;
        position: absolute;
        top: 12%;
        left: 5%;
        border-radius: 5px;
        box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 2%;
    }

    .rewardList > .header {
        width: 100%;
        height: 8.5%;
        position: sticky;
        top: 0;
        right: 0%;
        background-color: #BCCCDC;
        border-radius: 5px 5px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3%;
        box-sizing: border-box;
        z-index: 10;
    }
    .rewardList > .header > h1 {
        color: white;
        margin: 0;
        font-size: 25px;
        position: static;
    }

    .rewardList_table {
        width: 90%;
        border-collapse: collapse;
        margin: 5% auto; /* 가운데 정렬 */
        font-size: 14px;
    }

    .rewardList_table th {
        background: #ffffff;
        padding: 2%;
        text-align: center; /* 가운데 정렬 */
        border-bottom: #000000 solid 3px;
        font-size: 20px;
    }

    .rewardList_table td {
        padding: 2%;
        text-align: center; /* 가운데 정렬 */
        border-bottom: #55595D solid 1px;
        font-size: 20px;
        color: #3f3f3f; 
    }

    .rewardList_table tbody tr:hover {
        background: #f9f9f9;
    }

    .rewardList_table th:nth-child(1),
    .rewardList_table td:nth-child(1) {
        max-width: 80px;
        min-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .rewardList_table th:nth-child(2),
    .rewardList_table td:nth-child(2) {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .rewardList_table th:nth-child(3),
    .rewardList_table td:nth-child(3) {
        max-width: 80px;
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .penaltyList {
        width: 90%;
        height: 75%;
        position: absolute;
        top: 95%;
        left: 5%;
        border-radius: 5px;
        box-shadow: 4px 4px 18px 4px rgb(207, 207, 207);
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 2%;
    }
    
    .penaltyList > .header {
        width: 100%;
        height: 8.5%;
        position: sticky;
        top: 0;
        right: 0%;  
        background-color: #BCCCDC;
        border-radius: 5px 5px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3%;
        box-sizing: border-box;
        z-index: 10;
    }
    .penaltyList > .header > h1 {
        color: white;
        margin: 0;
        font-size: 25px;
        position: static;
    }

    .penaltyList_table {
        width: 90%;
        border-collapse: collapse;
        margin: 5% auto; /* 가운데 정렬 */
        font-size: 14px;
    }


    .penaltyList_table th {
        background: #ffffff;
        padding: 2%;
        text-align: center; /* 가운데 정렬 */
        border-bottom: #000000 solid 3px;
        font-size: 20px;
    }

    .penaltyList_table td {
        padding: 2%;
        text-align: center; /* 가운데 정렬 */
        border-bottom: #55595D solid 1px;
        font-size: 20px;
        color: #3f3f3f;
    }

    .penaltyList_table tbody tr:hover {
        background: #f9f9f9;
    }

    .penaltyList_table th:nth-child(1),
    .penaltyList_table td:nth-child(1) {
        max-width: 80px;
        min-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .penaltyList_table th:nth-child(2),
    .penaltyList_table td:nth-child(2) {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .penaltyList_table th:nth-child(3),
    .rewardList_table td:nth-child(3) {
        max-width: 80px;
        min-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}