<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리듬게임</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rhythm.js') }}"></script>
</head>

<body>
    <!-- 파일 업로드 버튼 -->
    <input type="file" id="audioFile" accept="audio/*">
    <!-- 오디오 플레이어 -->
    <audio id="audioPlayer" controls></audio>
</body>

</html>