@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    background-color: white;
}

.login {
    width: 50%;
    position: absolute;
    top: 20%;
}

.login-wrapper{
    width: 30%;
    height: 38%;
    margin: 1%;
    background-color: #BCCCDC;
    padding: 2%;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    right: 10%;
}

label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

h2{
    color: white;
    font-size: 28px;
}

.id {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    width: 91%;
    height: 48px;
    margin-top: 5%;
    border-radius: 10px;
    padding-left: 5%;
    background-color: white;
}

.password {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    width: 91%;
    height: 48px;
    margin-top: 4%;
    border-radius: 10px;
    padding-left: 5%;
    background-color: white;
}

.remember-check{
    margin-top: 2%;
    border-radius: 10px;
    padding-left: 1%;
    font-size: 15px;
    color: white;
}

.submit {
    font-family: 'KakaoSmallSans-Bold', sans-serif;
    width: 98%;
    height: 51px;
    margin-top: 4%;
    border-radius: 10px;
    background-color: #d4e7ff;
    font-size: 23px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #d2e3f8;
}

.submit:active {
    background-color: #d2e3f8;
    transform: scale(0.99);
}

.signup {
    font-size: 15px;
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 1.5%;
}

img {
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

@media (max-width: 767px) {

    .login-wrapper {
        width: 80%;
        height: 40%;
        margin: 0%;
        background-color: #BCCCDC;
        padding: 5%;
        border-radius: 15px;
        position: absolute;
        top: 30%;
        right: 5%;
    }

    h2 {
        color: white;
        font-size: 25px;
    }

    .id {
        font-family: 'KakaoSmallSans-Bold', sans-serif;
        width: 91%;
        height: 40px;
        margin-top: 5%;
        border-radius: 10px;
        padding-left: 5%;
        background-color: white;
    }

    .password {
        font-family: 'KakaoSmallSans-Bold', sans-serif;
        width: 91%;
        height: 40px;
        margin-top: 4%;
        border-radius: 10px;
        padding-left: 5%;
        background-color: white;
    }

    .remember-check {
        margin-top: 2%;
        border-radius: 10px;
        padding-left: 1%;
        font-size: 13px;
        color: white;
    }

    .submit {
        font-family: 'KakaoSmallSans-Bold', sans-serif;
        width: 98%;
        height: 40px;
        margin-top: 4%;
        border-radius: 10px;
        background-color: #d4e7ff;
        font-size: 20px;
        color: #000000;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .signup {
        font-size: 13px;
        text-decoration: none;
        color: white;
        display: block;
        margin-top: 1.5%;
    }

    img {
        display: none;
    }

}
