@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
  font-family: 'KakaoSmallSans-Bold', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 4px;
  width: 75%;
  border: 2px solid #BCCCDC;
  height: 85%;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}

.note {
    font-size: 15px; /* 노트 폰트 크기 */
    color: #ff5757; /* 노트 텍스트 색상 */
    margin-top: 5px; /* 노트와 입력 필드 간격 */
    text-align: center; /* 가운데 정렬 */
}

table { 
  width: 100%;
  border-collapse: collapse;
  margin-top: 3%;
}

th, td {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px solid #55595D;
  border-bottom: 1px solid #55595D;
  vertical-align: middle;
  text-align: center;
  color: #55595D;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.approve, .reject {
  font-family: 'KakaoSmallSans-Bold', sans-serif;
  font-size: 15px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.approve {
  background-color: #bddcbc;
  color: #000;
  transition: background-color 0.3s ease;
}

.approve:hover {
  background-color: #9fb89e;
}

.approve:active {
  scale: 0.98;
}

.reject {
  background-color: #dcbcbc;
  color: #000;
  transition: background-color 0.3s ease;
}
.reject:hover{
    background-color: #ac9393;
}

.reject:active {
  scale: 0.98;
}

@media (max-width: 768px) {

    body {
        width: 320px;
    }

    .popup-box {
    width: 65%;
    }

    table {
    width: 85%;
    border-collapse: collapse;
    margin-top: 6%;
    position: absolute;
    right: 7%;
    }

    th, td {
    font-size: 15%;
    }

}