<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
</head>
<body>
    <h1>admin page</h1>

    <h2>상벌점 추가</h2>
    <form method="POST">
        <label for="username">user id:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        
        <label for="points">상벌점:</label>
        <input type="number" id="points" name="points" required>
        <br><br>

        <button type="submit">상벌점 추가</button>
    </form>

    <br><br>
    <a href="{{ url_for('dashboard') }}">대시보드로 돌아가기</a>
</body>
</html>
