<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발자 소개</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/developerInfo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header class="header">
        <a class="logo" href="/">GB</a>

        <div class="main_menu">
            <a class="text" href="#">Calender</a>
            <a class="text" href="#">Save</a>
            <a class="text" href="#">Game</a>
            <a class="text" href="/awards">Awards</a> {% if session['id'] %}
            <a class="text" href="/mypage">
                <img src="{{ url_for('static', filename='uploads/' + (session.get('profile_pic') or 'default.jpg')) }}"
                    alt="Profile" class="profile-pic">
            </a>
            {% else %}
            <button class="login-button" onClick="location.href='/login'">LOGIN</button> {% endif %}
        </div>
        <!--헤더 서브 메뉴-->
        <div class="sub_menu">
            <button class="cal1" onClick="location.href='/notice'">공지사항</button>
            <button class="cal2" href="#">캘린더보기</button>
            <button class="game1" onClick="location.href='/sadari'">사다리타기</button>
            <button class="game2" onClick="location.href='/roulette'">룰렛돌리기</button> {% if session['id'] %}
            <button class="login1" onClick="location.href='/users/logout.do'">로그아웃</button> {% else %}
            <button class="login1" onClick="location.href='/signup'">회원가입</button> {% endif %}
            </button>
        </div>
    </header>
    <div class="developerPage-container">
       <h1>개발자 소개</h1> 
       <main>
            <div class="section-header">
                <span>1대 개발자</span>
            </div>
            <section class="team">
                <div class="member">
                    <img src="{{ url_for('static', filename='developerInfo/profileminseok.png') }}" alt="멤버 1">
                    <div class="info">
                        <h2>염민석</h2>
                        <p>백엔드 개발자</p>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='developerInfo/profilekihoon.png') }}" alt="멤버 2">
                    <div class="info">
                        <h2>김기훈</h2>
                        <p>백엔드 개발자</p>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='developerInfo/profilesungbin.png') }}" alt="멤버 3">
                    <div class="info">
                        <h2>노성빈</h2>
                        <p>프론트엔드 개발자</p>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='developerInfo/profilekinam.png') }}" alt="멤버 4">
                    <div class="info">
                        <h2>이기남</h2>
                        <p>프론트엔드 개발자</p>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='developerInfo/profilesieun.png') }}" alt="멤버 5">
                    <div class="info">
                        <h2>이시은</h2>
                        <p>프론트엔드 개발자</p>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='developerInfo/profileyoungtak.png') }}" alt="멤버 6">
                    <div class="info">
                        <h2>최영탁</h2>
                        <p>게임 개발자</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
