<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>ID Check</title>
</head>

<body>
    <input type="text" id="id" placeholder="아이디 입력">
    <button type="button" onclick="IDcheck()">중복 확인</button>
    <span id="id_check_result"></span>
    <script type="text/javascript" src="/static/js/signup.js"></script>
</body>

</html>