<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager_page_main.css') }}">
</head>
<body>
    <!-- 네비게이션 바 -->
    <nav class="navbar">
        <div class="nav_logo">
            <a href="/" class="link_main">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
        </div>
        <div class="nav_menu">
            <span class="title">
                <a href="/mgmt" class="link_mgmt">Manager Page</a>
            </span>
            <a href="/mgmt_user" class="link_user">사용자 관리</a>
        </div>    
        <div class="nav_user">
            <a href="" class="click_mypage">
                <img src="{{ url_for('static', filename='img/user_profile.png') }}" alt="UserProfile">
            </a>
        </div>
    </nav>

    <div class="box_container">
        <div class="box user_box">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="User">
            <h1>사용자</h1>
        </div>
        <div class="box calendar_box">
            <img src="{{ url_for('static', filename='img/calendar.png') }}" alt="Calendar">
            <h1>일정</h1>
        </div>
        <div class="box notification_box">
            <img src="{{ url_for('static', filename='img/notification.png') }}" alt="Notification">
            <h1>공지사항</h1>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/manager_page_main.js') }}"></script>
</body>
</html>