<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>mypage</title>
</head>

<body>
    <header class="header">
        <a class="logo" href="/">GB</a>

        <div class="main_menu">
            <a class="text" href="#">Community</a>
            <a class="text" href="/developers">Developers</a>
            <a class="text" href="#">Game</a>
            <a class="text" href="/awards">Awards</a> {% if session['id'] %}
            <a class="text" href="/mypage">
            <img src="{{ url_for('static', filename='uploads/' + (session.get('profile_pic') or 'default')) }}"
                alt="Profile" class="profile-pic">
            </a>
            {% else %}
            <button class="login-button" onClick="location.href='/login'">LOGIN</button> {% endif %}
        </div>

        <div class="sub_menu">
            <button class="cal1" onClick="location.href='/notice'">공지사항</button>
            <button class="game1" onClick="location.href='/sadari'">사다리타기</button>
            <button class="game2" onClick="location.href='/roulette'">룰렛돌리기</button> {% if session['id'] %}
            <!-- 관리자 페이지 버튼 추가 -->
            {% if session['identity'] in [0, 1] %}
            <button class="login1" onClick="location.href='/management'">관리자페이지</button>
            {% endif %}
            <button class="login2" onClick="location.href='/users/logout.do'">로그아웃</button> {% else %}
            <button class="login1" onClick="location.href='/signup'">회원가입</button> {% endif %}
            </button>
        </div>
    </header>

    <div id="photo">
        <img id="basic"
            src="{{ url_for('static', filename='uploads/' + (session.get('profile_pic') or 'default.jpg')) }}">
        <form id="uploadForm" action="{{ url_for('upload.upload_profile_pic') }}" method="POST"
            enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" accept="image/*" style="display: none;"
                onchange="previewImage(event)">
            <button type="button" id="upload" onclick="document.getElementById('fileInput').click();">사진 업로드</button>
        </form>
        <!-- 업로드 안내 문구 -->
        <p id="text">400x400 크기의 JPG 또는 PNG 형식의 파일을 넣어주세요</p>
    </div>
    <hr id="line">
    <article class="information_box">
        <!-- 사용자 정보 표시 -->
        <h3 id="info">사용자 정보</h3>
        <p id="num">학번: {% if user.currentgrade == 1 %} {{ user.firststdnum }} {% elif user.currentgrade == 2 %} {{
            user.secondstdnum }} {% elif user.currentgrade == 3 %} {{ user.thirdstdnum }} {% endif %}
        </p>
        <p id="name">이름: {{ user.name }}</p>
        <p id="phone">전화번호: {{ user.phone }}</p>
        <p id="e-mail">이메일: {{ user.email }}</p>
        <button class="add" onclick="openPopup()">수정</button>
    </article>
    <article class="score_box">
        <h3 class="score">상벌점</h3>
        <p class="score_p">{% for log in pointLogs %}누가:{{ log.managerID }} 몇점:{{ log.point }} 왜: {{ log.reason }} 언제: {{log.addDate}}<br>{% endfor %}</p>
    </article>

    <script>
        // 이미지 미리보기 및 업로드 함수
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const output =
                    document.getElementById('basic');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
            document.getElementById('uploadForm').submit();
        }
    </script>
    <!-- 외부 JavaScript 파일 불러옴 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mypage.js') }}"></script>
</body>

</html>