<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지 추가</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addnotice.css') }}">
</head>
<body>
    <div class="container">
        <h1>공지 추가</h1>
        <div class="add-notice">
            <input type="text" id="title" class="title" placeholder=" 제목">
        </div>
        <div>
            <textarea id="content" class="notice-content" placeholder=" 본문 내용을 입력해주세요."></textarea>
            <button type="submit" class="btn" id="addNoticeBtn">추가하기</button>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/addnotice.js') }}"></script>
</body>
</html>
