<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>

<body>
    <div class="container">
        <div class="signup-form">
            <h1>회원가입</h1>
            <p>저희 동아리에 가입해주세요!</p>
            <form action="/users/signup.do" method="post">
                <div class="id">
                    <input type="text" name="id" placeholder="아이디" required>
                    <button type="submit" class="btn">중복 확인</button>
                    <span>사용가능한 아이디입니다.</span>
                </div>

                <div class="password">
                    <input type="password" name="password" placeholder="비밀번호" required>
                </div>
                <div class="dateinput">
                    <input type="text" name="name" placeholder="이름" required>
                    <input type="date" name="birth" placeholder="생년월일" required>
                </div>

                <input type="email" name="email" placeholder="이메일" required>

                <button type="submit" class="join">회원가입</button>
            </form>
            <p><a href="/login">이미 계정이 있으신가요?</a></p>
        </div>
    </div>
</body>

</html>