<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link href="{{ url_for('static', filename='css/auth/signup.css') }}" rel="stylesheet">
</head>

<body>
    <img src="{{ url_for('static', filename='img/teacher.png') }}" alt="">
    <div class="signup-wrapper">
        <h2>signup</h2>
        <form method="post" action="/auth/signup.do/teacher" id="login-form">

            <input class="name" type="text" name="name" placeholder="이름을 작성해주세요">

            <input class="id" type="text" name="id" placeholder="아이디를 작성해주세요" >

            <input class="password" type="password" name="password" placeholder="비밀번호를 작성해주세요">

            <input class="check_code" type="text" name="checkCode" placeholder="확인 코드를 작성해주세요 관리자에게 승인될 때 필요합니다.">

            <button class="sumit" type="submit">Signup</button>
            <a class="login" href="/auth/login"> <br> 로그인으로 돌아가기</a>
        </form>
    </div>
    {%with messages = get_flashed_messages()%}
	{%if messages %}
	<script type="text/javascript">
		alert("{{messages[-1]}}");
	</script>
	{%endif%}
	{%endwith%}
</body>

</html>