<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/auth/who.css') }}" rel="stylesheet">
    <title>who</title>
</head>

<body>
    <div class="buttons">
        <button class="teacher" onClick="location.href='/auth/signup/teacher'">
            <p class="teacher_">선생님</p>
            <img src="{{ url_for('static', filename='img/teacher.png') }}" class="teacher_img">
        </button>

        <button class="student" onClick="location.href='/auth/signup/student'">
            <p class="student_">학생</p>
            <img src="{{ url_for('static', filename='img/students.png') }}" class="stu_img">
    </div>
    </div>
    {%with messages = get_flashed_messages()%}
	{%if messages %}
	<script type="text/javascript">
		alert("{{messages[-1]}}");
	</script>
	{%endif%}
	{%endwith%}
</body>

</html>